/* Document */
 html {
     font-family: 'Roboto Condensed';
     font-size: 18px;
     line-height: 1.3;
 }

 html,
 html * {
     box-sizing: border-box;
 }

 body {
     background-color: white;
     color: black;
     display: flex;
     flex-direction: column;
 }

 body>* {
     padding: 0.25rem;
 }

 .brand::before {
     content: url(assets/figures/skull.svg);
     display: block;
     width: 3rem;
     height: 3rem;
     border: 1px dotted black;
     padding: 0.25rem;
 }

 @media speech {
     * {
         -webkit-speak: never;
         -webkit-speak-as: spell-out;
     }
 }

 figure {
     margin-left: 0;
 }

 figcaption {
     font-size: 0.8rem;
 }

 .sr-only {
     position: absolute;
     height: 1px;
     width: 1px;
     clip: rect(1px 1px 1px 1px); // IE 6 and 7
     clip: rect(1px, 1px, 1px, 1px);
     clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
     -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
 }

 strong {}

 abbr[title] {
     border-bottom: 1px dotted
 }

 /* Accessable navigation */
 nav ul {
     margin: 0;
     padding: 0;
     list-style-type: none;
 }

 nav a[href] {
     display: inline-block;
     width: 100%;
 }

 nav li dfn,
 a dfn {
     position: absolute;
     height: 1px;
     width: 1px;
     clip: rect(1px 1px 1px 1px); // IE 6 and 7
     clip: rect(1px, 1px, 1px, 1px);
     clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
     -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
 }

 nav li li {
     padding-left: 1rem;
 }

 /* Accessable top navigation */
 .anchor,
 .anchor:visited {
     border: 2px solid rgba(0, 0, 0, .16);
     border-radius: 2px;
     color: #2228af;
     cursor: pointer;
     display: inline-block;
     font-size: 14px;
     line-height: 20px;
     margin: 6px 11px;
     min-height: 32px;
     text-decoration: underline;
     text-align: center;
     width: 106px
 }

 .anchor:not(:focus) {
     clip: rect(1px, 1px, 1px, 1px);
     overflow: hidden;
     position: absolute;
     padding: 0
 }

 a:link {
     color: #0000cc;
 }

 a:visited {
     color: #660088;
 }

 /* Form */
 form * {
     transition-property: all;
     transition-delay: 0;
     transition-duration: 200ms;
     transition-timing-function: ease-in;
 }

 form {
     width: 20rem;
     border: 1px dotted black;
     padding: 0;
     margin-top: 2rem;
 }

 form fieldset {
     display: flex;
     flex-direction: column;
     margin: 0;
     margin-left: 0rem;
     border: 0;
 }

 legend {
     border: 1px dotted black;
     position: relative;
     top: -1.3rem;
     left: -0.8rem;
     border-bottom: 0;
     background-color: white;
 }

 label,
 button {
     font-size: 0.8rem;
     margin-top: 0.5rem;
 }

 input,
 select,
 button {
     -webkit-appearance: none;
     -moz-appearance: none;
     width: 100%;
     padding: 0.25rem;
     border: 1px dotted black;
     border-radius: 0;
 }

 button {
     background-color: hsla(0, 0%, 0%, 0.15)
 }

 button:active {
     background-color: rgba(13, 47, 242, 0.15)
 }

 input {
     outline: none;
     border-width: 1px;
     border-style: dotted;
     border-color: white;
 }

 input:valid {
     border-color: hsla(140, 50%, 50%, 0.85);
 }

 input:invalid {
     border-color: hsla(0, 50%, 50%, 0.85);
 }

 input:focus {
     margin-bottom: -0.9rem;
     z-index: 99;
     padding: 0.5rem;
     font-size: 1.2rem;
     border-color: white;
     box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.5)
 }